.my-card {
  width: 30%;
  margin: 12px auto;
  border: slategray 1px solid;
  display: flex;
  flex-flow: column;
}

.my-card-full {
  width: 80vw;
}

.image-area {
  height: 30vw;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.full-area {
  height: unset;
}

.full-image {
  width: 100%;
  cursor: default;
}
